<div *ngIf="loadingState === true" class="loading">
  <h3>Loading...</h3>
</div>
<div *ngIf="loadingState === false" class="wrapper">
  <h1>ToDo List</h1>
  <input type="text" [(ngModel)]="filter" placeholder="Search ToDo..." />
  <div class="sorting">
    <label for="">Show Important:
      <input type="checkbox" (click)="toggleImportant()" />
    </label>
    <label>Sort By:
      <select (change)="selectChangeHandler($event)">
        <option value="-">-</option>
        <option value="name">Name</option>
        <option value="date">Date</option>
      </select>
    </label>
    <button *ngIf="titleFlag === true" (click)="toggleSorting()">{{ sortingOrder }}</button>
    <button *ngIf="dateFlag === true" (click)="toggleSortingByDate()">{{ sortingOrder }}</button>
    <label for="">Show Done:
      <input type="checkbox" (click)="toggleDone()" />
    </label>
  </div>

  <app-to-do-input (onToDoAdded)="addToDo($event)"></app-to-do-input>
  <app-to-do-item *ngFor="let todo of filteredTodos" [todoItem]="todo" (itemDeleted)="onDelete($event)"
    (itemChecked)="onItemChecked($event)"></app-to-do-item>
</div>
