<div *ngIf='errorMessage' class="message">
  <h3>{{ errorMessage }}</h3>
</div>

<div *ngIf="deleteStatus" class="delete">
  <h3>{{ deleteStatus }}</h3>
</div>

<div *ngIf="!deleteStatus && !errorMessage" class="container">
  <h1>Todo Item Details</h1>
  <table>
    <tr>
      <td>Title:</td>
      <td id="title" class="clickable" *ngIf='!editTitle' (click)='editInput($event)'> {{ todo?.title }}</td>
      <td *ngIf='editTitle'><input id="titleInput" autofocus (focusout)="saveEdit($event)" type="text"
          [(ngModel)]="todo.title"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td id="description" class="clickable" *ngIf='!editDescription' (click)='editInput($event)'>
        {{ todo?.description }}
      </td>
      <td *ngIf='editDescription'><input id="descriptionInput" autofocus (focusout)="saveEdit($event)" type="text"
          [(ngModel)]="todo.description">
      </td>
    </tr>
    <tr>
      <td>Public:</td>
      <td id="public" class="clickable" (click)='editFiled($event)'>{{ todo?.isPublic }}</td>
    </tr>
    <tr>
      <td>Important:</td>
      <td id="important" class="clickable" (click)='editFiled($event)'>{{ todo?.isImportant }}</td>
    </tr>
    <tr>
      <td>Completed:</td>
      <td id="completed" class="clickable" (click)='editFiled($event)'>{{ todo?.isCompleted }}</td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td>{{ todo.createdAt | customDate }}</td>

    </tr>
    <tr *ngIf="user$ | async as user">
      <td>Author:</td>
      <td>{{ user.firstName }} {{ user.lastName}}</td>
    </tr>
  </table>
  <div class="btns">
    <button (click)="navigateBack()">Back to the list</button>
    <button (click)="deleteTodo()">Delete</button>
  </div>

  <div>
    <div *ngIf="editStatus">
      <h3>{{ editStatus }}</h3>
    </div>
  </div>
</div>
