<div *ngIf='errorMessage' class="message">
  <h3>{{ errorMessage }}</h3>
</div>

<div *ngIf="deleteStatus" class="delete">
  <h3>{{ deleteStatus }}</h3>
</div>

<div *ngIf="!deleteStatus && !errorMessage" class="container">
  <h1>Todo Item Details</h1>
  <table>
    <tr>
      <td>Title:</td>
      <td id="title" *ngIf='!editTitle' (click)='editInput($event)' style="cursor: pointer;"> {{ todo.title }}</td>
      <td *ngIf='editTitle'><input autofocus type="text" [(ngModel)]="todo.title"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td id="description" *ngIf='!editDescription' (click)='editInput($event)'>{{ todo.description }}</td>
      <td *ngIf='editDescription'><input autofocus type="text" [(ngModel)]="todo.description"></td>
    </tr>
    <tr>
      <td>Public:</td>
      <td id="public" (click)='editFiled($event)' style="cursor: pointer;">{{ todo.isPublic }}</td>
    </tr>
    <tr>
      <td>Important:</td>
      <td id="important" (click)='editFiled($event)' style="cursor: pointer;">{{ todo.isImportant }}</td>
    </tr>
    <tr>
      <td>Completed:</td>
      <td id="completed" (click)='editFiled($event)' style="cursor: pointer;">{{ todo.isCompleted }}</td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td>{{ todo.createdAt | customDate }}</td>

    </tr>
    <tr>
      <td>Author:</td>
      <td>{{ usersName }}</td>
    </tr>
  </table>
  <div class="btns">
    <button (click)="navigateBack()">Back to the list</button>
    <button (click)="edit()">Save changes</button>
    <button (click)="deleteTodo()">Delete</button>
  </div>

  <div>
    <div *ngIf="editStatus">
      <h3>{{ editStatus }}</h3>
    </div>
  </div>
</div>
