<div *ngIf="loadingState === true && !errorMessage" class="message">
  <h3>Loading...</h3>
</div>
<div *ngIf='errorMessage' class="message">
  <h3>{{ errorMessage }}</h3>
</div>
<div *ngIf="loadingState === false && !errorMessage" class="wrapper">
  <div class="heading">
    <div style="width: 100px;"></div>
    <h1>{{ usersHeading }}</h1>
    <a [routerLink]="['/profile']"><button>Profile</button></a>
  </div>
  <div class="inputs">
    <input type="text" [(ngModel)]="filter" placeholder="Search ToDo..." />
    <app-todo-input (onToDoAdded)="addTodo($event)"></app-todo-input>
  </div>
  <div class="inputs">
    <label for="">Show Important:
      <input type="checkbox" (click)="toggleImportant()" />
    </label>
    <label for="">Show Done:
      <input type="checkbox" (click)="toggleDone()" />
    </label>
  </div>
  <div class="row">
    <div class="column">
      <h2>Title</h2>
      <button (click)="sortTitle()"><img [ngClass]="{'rotated': sortingFlags.sortTitle}" src="./assets/img/arrow.svg"
          alt=""></button>
    </div>
    <div class="column">
      <h2>Date</h2>
      <button (click)="sortDate()"><img [ngClass]="{'rotated': sortingFlags.sortDate}" src="./assets/img/arrow.svg"
          alt=""></button>
    </div>
    <div class="column">
      <h2>Important</h2>
      <button (click)="sortImportant()"><img [ngClass]="{'rotated': sortingFlags.sortImportant}"
          src="./assets/img/arrow.svg" alt=""></button>
    </div>
    <div class="column">
      <h2>Done</h2>
      <button (click)="sortCompleted()"><img [ngClass]="{'rotated': sortingFlags.sortDone}" src="./assets/img/arrow.svg"
          alt=""></button>
    </div>
  </div>

  <app-todo-item *ngFor="let todo of filteredTodos" [todoItem]="todo" (itemDeleted)="onDelete($event)"
    (itemChecked)="onItemChecked($event)"></app-todo-item>
</div>
