.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 200px;
}

.fields {
  width: 200px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
}

.btn {
  margin-top: 5px;
  cursor: pointer;
  width: 220px;
  border: none;
  height: 30px;
}
