<div class="container">
  <h2>Sign Up!</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="input-container">
        <input type="text" placeholder="First name" formControlName="firstName">
      </div>
      <div class="input-container">
        <input type="text" placeholder="Last name" formControlName="lastName">
      </div>
      <div class="input-container">
        <input type="email" placeholder="E-mail" formControlName="email">
      </div>
      <div class="input-container">
        <input type="password" placeholder="Password" formControlName="password">
      </div>
      <div class="input-container">
        <input type="password" placeholder="Confirm password" formControlName="password">
      </div>
      <div class="input-container">
        <input type="date" formControlName="dateOfBirth">
      </div>
    </div>
  </form>
  <button type="submit">Sign Up</button>
</div>
